#### Loan Dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
loan = pd.read_csv("Loans - Training Set.csv")

In [3]:
loan.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,6cf51492-02a2-423e-b93d-676f05b9ad53,7c202b37-2add-44e8-9aea-d5b119aea935,Charged Off,12232,Short Term,7280.0,< 1 year,Rent,46643.0,Debt Consolidation,777.39,18.0,10.0,12,0,6762,7946,0.0,0.0
1,552e7ade-4292-4354-9ff9-c48031697d72,e7217b0a-07ac-47dd-b379-577b5a35b7c6,Charged Off,25014,Long Term,7330.0,10+ years,Home Mortgage,81099.0,Debt Consolidation,892.09,26.7,NaN,14,0,35706,77961,0.0,0.0
2,9b5e32b3-8d76-4801-afc8-d729d5a2e6b9,0a62fc41-16c8-40b5-92ff-9e4b763ce714,Charged Off,16117,Short Term,7240.0,9 years,Home Mortgage,60438.0,Home Improvements,1244.02,16.7,32.0,11,1,11275,14815,1.0,0.0
3,5419b7c7-ac11-4be2-a8a7-b131fb6d6dbe,30f36c59-5182-4482-8bbb-5b736849ae43,Charged Off,11716,Short Term,7400.0,3 years,Rent,34171.0,Debt Consolidation,990.94,10.0,NaN,21,0,7009,43533,0.0,0.0
4,1450910f-9495-4fc9-afaf-9bdf4b9821df,70c26012-bba5-42c0-8dcb-75295ada31bb,Charged Off,9789,Long Term,6860.0,10+ years,Home Mortgage,47003.0,Home Improvements,503.71,16.7,25.0,13,1,16913,19553,1.0,0.0

In [186]:
loan.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Years in current job', 'Home Ownership',
       'Annual Income', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [187]:
loan.describe()

,Current Loan Amount,Credit Score,Annual Income,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Bankruptcies,Tax Liens
count,1.111070e+05,89769.000000,8.976900e+04,111107.000000,52104.000000,111107.000000,111107.000000,1.111070e+05,110879.00000,111096.000000
mean,1.147718e+07,1075.795029,7.248600e+04,18.201003,34.902272,11.125105,0.168027,1.548314e+04,0.11766,0.029353
std,3.185508e+07,1474.133505,5.593094e+04,7.014495,21.970696,5.010267,0.484212,1.982115e+04,0.35142,0.260575
min,4.910000e+02,585.000000,4.033000e+03,3.600000,0.000000,0.000000,0.000000,0.000000e+00,0.00000,0.000000
25%,8.162000e+03,705.000000,4.468800e+04,13.500000,16.000000,8.000000,0.000000,5.905000e+03,0.00000,0.000000
50%,1.418300e+04,724.000000,6.175200e+04,16.900000,32.000000,10.000000,0.000000,1.102700e+04,0.00000,0.000000
75%,2.382200e+04,741.000000,8.688700e+04,21.700000,51.000000,14.000000,0.000000,1.933800e+04,0.00000,0.000000
max,1.000000e+08,7510.000000,8.713547e+06,70.500000,176.000000,76.000000,15.000000,1.730472e+06,7.00000,15.000000

In [188]:
loan.shape

(111107, 19)

In [189]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111107 entries, 0 to 111106
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       111107 non-null  object
 1   Customer ID                   111107 non-null  object
 2   Loan Status                   111107 non-null  object
 3   Current Loan Amount           111107 non-null  int64
 4   Term                          111107 non-null  object
 5   Credit Score                  89769 non-null   float64
 6   Years in current job          106414 non-null  object
 7   Home Ownership                111107 non-null  object
 8   Annual Income                 89769 non-null   float64
 9   Purpose                       111107 non-null  object
 10  Monthly Debt                  111107 non-null  object
 11  Years of Credit History       111107 non-null  float64
 12  Months since last delinquent  52104 non-null   float64
 13  Number of Open Accounts       111107 non-null  int64
 14  Number of Credit Problems     111107 non-null  int64
 15  Current Credit Balance        111107 non-null  int64
 16  Maximum Open Credit           111107 non-null  object
 17  Bankruptcies                  110879 non-null  float64
 18  Tax Liens                     111096 non-null  float64
dtypes: float64(6), int64(4), object(9)
memory usage: 16.1+ MB

In [190]:
# Getting the proportion of null values in each column
(loan.isnull().sum()*100)/len(loan)

Loan ID                          0.000000
Customer ID                      0.000000
Loan Status                      0.000000
Current Loan Amount              0.000000
Term                             0.000000
Credit Score                    19.204911
Years in current job             4.223856
Home Ownership                   0.000000
Annual Income                   19.204911
Purpose                          0.000000
Monthly Debt                     0.000000
Years of Credit History          0.000000
Months since last delinquent    53.104665
Number of Open Accounts          0.000000
Number of Credit Problems        0.000000
Current Credit Balance           0.000000
Maximum Open Credit              0.000000
Bankruptcies                     0.205208
Tax Liens                        0.009900
dtype: float64

The columns Credit Score, Annual Income, Months since last delinquent has a lot of null values. Whereas the columns Tax Liens, Bankruptcies,Years in current job have lesser proportion of missing values.

In [191]:
loan['Tax Liens'].value_counts()

0.0     108964
1.0       1485
2.0        408
3.0        124
4.0         66
5.0         19
6.0         12
7.0          7
9.0          5
8.0          2
11.0         2
15.0         1
10.0         1
Name: Tax Liens, dtype: int64

In [192]:
# Checking the target class imbalance of the dataset
loan['Loan Status'].value_counts()

Fully Paid     85934
Charged Off    25173
Name: Loan Status, dtype: int64

In [193]:
# Observation : Nearly 77% of the observations belongs to target class 'Fully Paid' whereas nearly 23% belongs to 'Charged Off'
(loan['Loan Status'].value_counts()*100)/len(loan)

Fully Paid     77.343462
Charged Off    22.656538
Name: Loan Status, dtype: float64

In [194]:
loan[loan['Purpose']=='Debt Consolidation']['Home Ownership']

0                  Rent
1         Home Mortgage
3                  Rent
6         Home Mortgage
7              Own Home
              ...
111102             Rent
111103    Home Mortgage
111104    Home Mortgage
111105    Home Mortgage
111106         Own Home
Name: Home Ownership, Length: 87277, dtype: object

In [195]:
# Determining the conditional mode for Tax Liens column
print(loan[loan['Loan Status']=='Fully Paid']['Tax Liens'].mode())
print(loan[loan['Loan Status']=='Charged Off']['Tax Liens'].mode())

0    0.0
Name: Tax Liens, dtype: float64
0    0.0
Name: Tax Liens, dtype: float64

In [196]:
# Filling the missing values with the mode since it's a categorical column
loan['Tax Liens'].fillna(value=0.0,inplace=True)

In [197]:
loan.Bankruptcies.value_counts()

0.0    98650
1.0    11613
2.0      468
3.0      110
4.0       27
5.0        8
6.0        2
7.0        1
Name: Bankruptcies, dtype: int64

In [198]:
# Determining the conditional mode for Bankruptcies column
print(loan[loan['Loan Status']=='Fully Paid']['Bankruptcies'].mode())
print(loan[loan['Loan Status']=='Charged Off']['Bankruptcies'].mode())

0    0.0
Name: Bankruptcies, dtype: float64
0    0.0
Name: Bankruptcies, dtype: float64

In [199]:
# Filling the missing values with the mode since it's a categorical column
loan['Bankruptcies'].fillna(value=0.0,inplace=True)

In [200]:
loan['Years in current job'].value_counts()

10+ years    34551
2 years      10158
3 years       9133
< 1 year      9055
5 years       7559
1 year        7175
4 years       6828
6 years       6310
7 years       6186
8 years       5105
9 years       4354
Name: Years in current job, dtype: int64

In [201]:
# Determining the conditional mode for Years in current job column
print(loan[loan['Loan Status']=='Fully Paid']['Years in current job'].mode())
print(loan[loan['Loan Status']=='Charged Off']['Years in current job'].mode())

0    10+ years
Name: Years in current job, dtype: object
0    10+ years
Name: Years in current job, dtype: object

In [202]:
# Filling the missing values with the mode since it's a categorical column
loan['Years in current job'].fillna(value='10+ years',inplace=True)

In [203]:
loan['Bankruptcies'].isnull().sum()

0

In [204]:
loan['Home Ownership'].value_counts()

Home Mortgage    53818
Rent             46868
Own Home         10188
HaveMortgage       233
Name: Home Ownership, dtype: int64

As per the data dictionary, the home ownership column has 3 posible values namely 'Rent','Home Mortgage' and 'Own' but there may be a typo in this case. Hence, we need to replace all the instances of 'HaveMortgage' with 'Home Mortgage'

In [205]:
# Replacing every instance of 'HaveMortgage' with 'Home Mortgage'
loan['Home Ownership'] = loan['Home Ownership'].apply(lambda x: 'Home Mortgage' if x=='HaveMortgage' else x)

Can also be done by using loan.replace({'HaveMortgage' : 'Home Mortgage'})

In [206]:
# Checking for the number of unique values in the Home Ownership series
loan['Home Ownership'].unique()

array(['Rent', 'Home Mortgage', 'Own Home'], dtype=object)

In [207]:
# The credit score as specified in the data dictionary are in the range of 0 to 800
loan['Credit Score'] = loan['Credit Score'].apply(lambda x: x/10 if x>800 else x)

In [208]:
loan.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,6cf51492-02a2-423e-b93d-676f05b9ad53,7c202b37-2add-44e8-9aea-d5b119aea935,Charged Off,12232,Short Term,728.0,< 1 year,Rent,46643.0,Debt Consolidation,777.39,18.0,10.0,12,0,6762,7946,0.0,0.0
1,552e7ade-4292-4354-9ff9-c48031697d72,e7217b0a-07ac-47dd-b379-577b5a35b7c6,Charged Off,25014,Long Term,733.0,10+ years,Home Mortgage,81099.0,Debt Consolidation,892.09,26.7,NaN,14,0,35706,77961,0.0,0.0
2,9b5e32b3-8d76-4801-afc8-d729d5a2e6b9,0a62fc41-16c8-40b5-92ff-9e4b763ce714,Charged Off,16117,Short Term,724.0,9 years,Home Mortgage,60438.0,Home Improvements,1244.02,16.7,32.0,11,1,11275,14815,1.0,0.0
3,5419b7c7-ac11-4be2-a8a7-b131fb6d6dbe,30f36c59-5182-4482-8bbb-5b736849ae43,Charged Off,11716,Short Term,740.0,3 years,Rent,34171.0,Debt Consolidation,990.94,10.0,NaN,21,0,7009,43533,0.0,0.0
4,1450910f-9495-4fc9-afaf-9bdf4b9821df,70c26012-bba5-42c0-8dcb-75295ada31bb,Charged Off,9789,Long Term,686.0,10+ years,Home Mortgage,47003.0,Home Improvements,503.71,16.7,25.0,13,1,16913,19553,1.0,0.0

#### Current Loan Amount

In [209]:
loan['Current Loan Amount'].value_counts()

99999999    12738
10166          31
10151          31
9827           30
4953           29
            ...
13376           1
18136           1
12522           1
12348           1
24629           1
Name: Current Loan Amount, Length: 22541, dtype: int64

#### Term

In [210]:
loan['Term'].value_counts()

Short Term    80274
Long Term     30833
Name: Term, dtype: int64

#### Years in current job

In [211]:
loan['Years in current job'].value_counts()

10+ years    39244
2 years      10158
3 years       9133
< 1 year      9055
5 years       7559
1 year        7175
4 years       6828
6 years       6310
7 years       6186
8 years       5105
9 years       4354
Name: Years in current job, dtype: int64

#### Home Ownership

In [212]:
loan['Home Ownership'].value_counts()

Home Mortgage    54051
Rent             46868
Own Home         10188
Name: Home Ownership, dtype: int64

#### Annual Income

In [213]:
loan['Annual Income'].describe()

count    8.976900e+04
mean     7.248600e+04
std      5.593094e+04
min      4.033000e+03
25%      4.468800e+04
50%      6.175200e+04
75%      8.688700e+04
max      8.713547e+06
Name: Annual Income, dtype: float64

#### Purpose

In [214]:
loan['Purpose'].nunique()

16

In [215]:
loan['Purpose'].value_counts()

Debt Consolidation      87277
other                    6671
Home Improvements        6504
Other                    3595
Business Loan            1749
Buy a Car                1422
Medical Bills            1259
Buy House                 758
Take a Trip               622
major_purchase            407
small_business            318
moving                    167
wedding                   126
Educational Expenses      114
vacation                  107
renewable_energy           11
Name: Purpose, dtype: int64

In [216]:
# replacing the instances of 'Other' with 'other'
loan['Purpose'].replace({'Other':'other'},inplace=True)

In [217]:
# Checking for the replacement made
loan['Purpose'].nunique()

15

#### Monthly Debt

The monthly debt column had values of object type. But when we tried to convert into 'float' type we encounterd an error due to the presence of '\\$' symbol. Hence we are removing every instance containing the '$' symbol with a blank character to enable type conversion into integer.

In [218]:
# Note: The datatype of the values are of object type
loan['Monthly Debt']

0          777.39
1          892.09
2         1244.02
3          990.94
4          503.71
           ...
111102     889.69
111103      700.9
111104    1210.59
111105     1476.3
111106     668.71
Name: Monthly Debt, Length: 111107, dtype: object

In [219]:
# Type conversion into integer
loan['Monthly Debt'].replace({'\$':''},regex=True,inplace=True)

In [220]:
# Note: The datatype of the values are of float type
loan['Monthly Debt'].astype('float')

0          777.39
1          892.09
2         1244.02
3          990.94
4          503.71
           ...
111102     889.69
111103     700.90
111104    1210.59
111105    1476.30
111106     668.71
Name: Monthly Debt, Length: 111107, dtype: float64

#### 'Years of Credit History'

In [221]:
loan['Years of Credit History'].describe()

count    111107.000000
mean         18.201003
std           7.014495
min           3.600000
25%          13.500000
50%          16.900000
75%          21.700000
max          70.500000
Name: Years of Credit History, dtype: float64

In [222]:
# Note : There's 1 particular customer with around 70 years of credit history
loan['Years of Credit History'].value_counts().sort_index(ascending=False)

70.5    1
65.0    2
62.5    1
60.5    2
59.9    1
       ..
4.0     7
3.9     4
3.8     4
3.7     2
3.6     1
Name: Years of Credit History, Length: 508, dtype: int64

In [223]:
loan['Months since last delinquent'].value_counts()

12.0     1002
13.0      999
15.0      987
14.0      958
8.0       955
         ...
139.0       1
130.0       1
115.0       1
141.0       1
143.0       1
Name: Months since last delinquent, Length: 116, dtype: int64

#### Number of Open Accounts

In [224]:
loan['Number of Open Accounts'].value_counts().sort_index(ascending=True)

0         2
1        27
2       483
3      1504
4      3176
5      5246
6      7523
7      9057
8      9803
9     10350
10    10075
11     9547
12     8235
13     6899
14     5766
15     4739
16     3916
17     3186
18     2466
19     2094
20     1576
21     1218
22      933
23      764
24      612
25      458
26      309
27      288
28      181
29      135
30      122
31       84
32       70
33       60
34       42
35       27
36       29
37       18
38       14
39       10
40       10
41        8
42        6
43       12
44        5
45        6
47        5
48        4
52        2
55        1
56        2
76        2
Name: Number of Open Accounts, dtype: int64

#### Number of Credit Problems

In [225]:
loan['Number of Credit Problems'].value_counts().sort_index(ascending=True)

0     95642
1     13366
2      1444
3       418
4       135
5        59
6        19
7         8
8         4
9         5
10        3
11        2
12        1
15        1
Name: Number of Credit Problems, dtype: int64

In [226]:
loan.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,6cf51492-02a2-423e-b93d-676f05b9ad53,7c202b37-2add-44e8-9aea-d5b119aea935,Charged Off,12232,Short Term,728.0,< 1 year,Rent,46643.0,Debt Consolidation,777.39,18.0,10.0,12,0,6762,7946,0.0,0.0
1,552e7ade-4292-4354-9ff9-c48031697d72,e7217b0a-07ac-47dd-b379-577b5a35b7c6,Charged Off,25014,Long Term,733.0,10+ years,Home Mortgage,81099.0,Debt Consolidation,892.09,26.7,NaN,14,0,35706,77961,0.0,0.0
2,9b5e32b3-8d76-4801-afc8-d729d5a2e6b9,0a62fc41-16c8-40b5-92ff-9e4b763ce714,Charged Off,16117,Short Term,724.0,9 years,Home Mortgage,60438.0,Home Improvements,1244.02,16.7,32.0,11,1,11275,14815,1.0,0.0
3,5419b7c7-ac11-4be2-a8a7-b131fb6d6dbe,30f36c59-5182-4482-8bbb-5b736849ae43,Charged Off,11716,Short Term,740.0,3 years,Rent,34171.0,Debt Consolidation,990.94,10.0,NaN,21,0,7009,43533,0.0,0.0
4,1450910f-9495-4fc9-afaf-9bdf4b9821df,70c26012-bba5-42c0-8dcb-75295ada31bb,Charged Off,9789,Long Term,686.0,10+ years,Home Mortgage,47003.0,Home Improvements,503.71,16.7,25.0,13,1,16913,19553,1.0,0.0

#### Current Credit Balance

In [227]:
loan['Current Credit Balance'].describe()

count    1.111070e+05
mean     1.548314e+04
std      1.982115e+04
min      0.000000e+00
25%      5.905000e+03
50%      1.102700e+04
75%      1.933800e+04
max      1.730472e+06
Name: Current Credit Balance, dtype: float64

#### Maximum Open Credit

In [228]:
loan['Maximum Open Credit'].value_counts()

0         450
0         302
14168       9
15847       9
17464       9
         ...
38266       1
69018       1
16924       1
102416      1
10634       1
Name: Maximum Open Credit, Length: 67309, dtype: int64

In [229]:
(loan['Maximum Open Credit']==0).sum()

302

In [230]:
(loan['Maximum Open Credit']=='0').sum()

450

We observe that there are zeros in the column with string as well as integer datatype. So we're converting all the values of this variable into numeric.

In [231]:
loan['Maximum Open Credit'] = pd.to_numeric(loan['Maximum Open Credit'],errors='coerce')

#### Can also be done using the following code
loan['Maximum Open Credit'].apply(lambda x: float(x) if type(x)==str() else x,inplace=True)

In [232]:
loan['Maximum Open Credit'].value_counts().sort_index()

0.0           752
197.0           4
202.0           1
245.0           2
293.0           5
             ...
28748988.0      1
36284335.0      1
44559330.0      1
59305735.0      1
69988086.0      1
Name: Maximum Open Credit, Length: 46624, dtype: int64

In [233]:
loan.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Years in current job', 'Home Ownership',
       'Annual Income', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [234]:
loan['Bankruptcies'].value_counts().sort_index()

0.0    98878
1.0    11613
2.0      468
3.0      110
4.0       27
5.0        8
6.0        2
7.0        1
Name: Bankruptcies, dtype: int64

In [235]:
loan['Tax Liens'].value_counts().sort_index()

0.0     108975
1.0       1485
2.0        408
3.0        124
4.0         66
5.0         19
6.0         12
7.0          7
8.0          2
9.0          5
10.0         1
11.0         2
15.0         1
Name: Tax Liens, dtype: int64

In [236]:
# conveting the monthly debt column from object data type to numeric data type
loan['Monthly Debt'] = pd.to_numeric(loan['Monthly Debt'])

In [237]:
loan.isnull().sum() * 100 / len(loan)

Loan ID                          0.000000
Customer ID                      0.000000
Loan Status                      0.000000
Current Loan Amount              0.000000
Term                             0.000000
Credit Score                    19.204911
Years in current job             0.000000
Home Ownership                   0.000000
Annual Income                   19.204911
Purpose                          0.000000
Monthly Debt                     0.000000
Years of Credit History          0.000000
Months since last delinquent    53.104665
Number of Open Accounts          0.000000
Number of Credit Problems        0.000000
Current Credit Balance           0.000000
Maximum Open Credit              0.001800
Bankruptcies                     0.000000
Tax Liens                        0.000000
dtype: float64

#### Imputing missing values in numerical columns

In [238]:
# Imputing missing values in Credit Score column
fully_paid = loan[loan['Loan Status']=='Fully Paid']['Credit Score']
charged_off = loan[loan['Loan Status']=='Charged Off']['Credit Score']
fully_paid.fillna(value=fully_paid.median(),inplace=True)
charged_off.fillna(value=charged_off.median(),inplace=True)

In [239]:
loan['Credit Score'][loan['Loan Status']=='Fully Paid'] = fully_paid

loan['Credit Score'][loan['Loan Status']=='Charged Off'] = charged_off

loan['Credit Score'].isnull().sum()

0

In [240]:
fully_paid = loan[loan['Loan Status']=='Fully Paid']['Annual Income']
charged_off = loan[loan['Loan Status']=='Charged Off']['Annual Income']
fully_paid.fillna(value=fully_paid.median(),inplace=True)
charged_off.fillna(value=charged_off.median(),inplace=True)

In [241]:
loan['Annual Income'][loan['Loan Status']=='Fully Paid'] = fully_paid

loan['Annual Income'][loan['Loan Status']=='Charged Off'] = charged_off

loan['Annual Income'].isnull().sum()

0

In [242]:
fully_paid = loan[loan['Loan Status']=='Fully Paid']['Months since last delinquent']
charged_off = loan[loan['Loan Status']=='Charged Off']['Months since last delinquent']
fully_paid.fillna(value=fully_paid.median(),inplace=True)
charged_off.fillna(value=charged_off.median(),inplace=True)

In [243]:
loan['Months since last delinquent'][loan['Loan Status']=='Fully Paid'] = fully_paid

loan['Months since last delinquent'][loan['Loan Status']=='Charged Off'] = charged_off

loan['Months since last delinquent'].isnull().sum()

0

In [244]:
loan.isnull().sum() *100 / len(loan)

Loan ID                         0.0000
Customer ID                     0.0000
Loan Status                     0.0000
Current Loan Amount             0.0000
Term                            0.0000
Credit Score                    0.0000
Years in current job            0.0000
Home Ownership                  0.0000
Annual Income                   0.0000
Purpose                         0.0000
Monthly Debt                    0.0000
Years of Credit History         0.0000
Months since last delinquent    0.0000
Number of Open Accounts         0.0000
Number of Credit Problems       0.0000
Current Credit Balance          0.0000
Maximum Open Credit             0.0018
Bankruptcies                    0.0000
Tax Liens                       0.0000
dtype: float64

In [245]:
# Two observations with missing values in Maximum Open Credit column
loan[loan['Maximum Open Credit'].isnull()]

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
4930,e42ae1f7-74b5-46d7-95ce-46a88918ba12,a679ed55-963a-4de6-8be0-4364eb601b6f,Charged Off,2052,Short Term,703.0,10+ years,Rent,95105.0,Debt Consolidation,1910.02,22.4,37.0,9,0,0,NaN,0.0,0.0
37357,b798f46b-e27b-4823-af83-294b1ffc3490,f61890c5-e264-4b0f-a047-9cfa03b9d182,Charged Off,1470,Short Term,719.0,2 years,Rent,57109.0,Debt Consolidation,506.34,15.3,26.0,3,0,0,NaN,0.0,0.0

In [246]:
# Dropping the two observations with missing values in Maximum Open Credit column
loan.drop(index= list(loan[loan['Maximum Open Credit'].isnull()].index),inplace=True)

#### Checking for duplicate observations

In [247]:
# Determining the number of duplicate observations corresponding to 
loan.shape[0]-loan['Loan ID'].nunique()

22197

In [248]:
loan.duplicated('Loan ID').sum()

22197

In [249]:
# dropping the duplicate observations with respect to 'LOAN ID' column
loan.drop_duplicates('Loan ID',inplace=True)

In [250]:
# Cross-verifying the results of operation
loan.shape[0]-loan['Loan ID'].nunique()

0

#### Balancing target classes using oversampling

In [163]:
pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\aswin\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\aswin\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aswin\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\aswin\anaconda3\lib\site-packages (from imbalanced-learn) (1.1.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\aswin\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\aswin\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\aswin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\aswin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\aswin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\aswin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\aswin\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\aswin\anaconda3\lib\site-packages)

While working with class imbalanced data we would be using stratified sampling to ensure that the test data has observations from the minority class as well

train_test_split()

In [251]:
# Seggregating the features from the target variable
X = loan.drop(['Loan Status','Loan ID','Customer ID'],axis=1)  # Dropping irrelevant features 'Loan ID' & 'Customer ID'
y = loan['Loan Status'].map({'Charged Off':0,'Fully Paid':1})

In [252]:
X

,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,12232,Short Term,728.0,< 1 year,Rent,46643.0,Debt Consolidation,777.39,18.0,10.0,12,0,6762,7946.0,0.0,0.0
1,25014,Long Term,733.0,10+ years,Home Mortgage,81099.0,Debt Consolidation,892.09,26.7,31.0,14,0,35706,77961.0,0.0,0.0
2,16117,Short Term,724.0,9 years,Home Mortgage,60438.0,Home Improvements,1244.02,16.7,32.0,11,1,11275,14815.0,1.0,0.0
3,11716,Short Term,740.0,3 years,Rent,34171.0,Debt Consolidation,990.94,10.0,31.0,21,0,7009,43533.0,0.0,0.0
4,9789,Long Term,686.0,10+ years,Home Mortgage,47003.0,Home Improvements,503.71,16.7,25.0,13,1,16913,19553.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88905,10136,Short Term,728.0,10+ years,Rent,35476.0,Debt Consolidation,567.62,21.2,14.0,14,0,15914,28265.0,0.0,0.0
88906,29610,Short Term,710.0,10+ years,Home Mortgage,123375.0,Debt Consolidation,2508.63,15.0,16.0,11,0,17727,32766.0,0.0,0.0
88907,24394,Short Term,746.0,10+ years,Home Mortgage,71148.0,Debt Consolidation,818.20,36.4,9.0,8,0,44728,53374.0,0.0,0.0
88908,5030,Short Term,722.0,10+ years,Rent,25424.0,Debt Consolidation,360.17,19.0,7.0,12,0,6374,18422.0,0.0,0.0
88909,18446,Short Term,718.0,6 years,Rent,44066.0,Debt Consolidation,749.13,10.7,32.0,18,1,6718,21124.0,0.0,1.0

In [253]:
# Converting the 'Years in current job' column into a numerical column
X['Years in current job'].replace({'10+ years':10, '< 1 year':0, '5 years':5, '1 year':1, '4 years':4, '7 years':7,
                                   '8 years':8, '6 years':6, '9 years':9, '2 years':2, '3 years':3},inplace=True)

# Encoding the 'Term' column with 0 and 1
X['Term'].replace({'Short Term':0,'Long Term':1},inplace=True)

# One-hot encoding of categorical columns
X = pd.get_dummies(X,drop_first=True)

In [254]:
# To handle the target class imbalance we make use of stratified random sampling
X_train,X_valid,y_train,y_valid = train_test_split(X,y,stratify=y)

In [255]:
# Checking for distribution of target class in training data
y_train.value_counts() * 100 / len(y_train)

1    71.689087
0    28.310913
Name: Loan Status, dtype: float64

In [256]:
y_train.value_counts()

1    47803
0    18878
Name: Loan Status, dtype: int64

In [257]:
# Checking for distribution of target class in validation data
y_valid.value_counts() * 100 / len(y_valid)

1    71.687587
0    28.312413
Name: Loan Status, dtype: float64

In [258]:
X_train

,Current Loan Amount,Term,Credit Score,Years in current job,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,...,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
32520,20458,1,723.0,6,63856.0,611.69,11.8,32.0,11,0,...,0,0,0,0,0,0,0,0,0,0
84957,8181,0,697.0,1,32723.0,564.48,7.4,31.0,4,0,...,0,0,0,0,0,0,0,0,0,0
28020,10168,0,719.0,7,57109.0,585.43,21.0,31.0,17,1,...,0,0,0,0,0,0,0,0,0,0
62187,7163,0,737.0,3,30699.0,537.23,4.0,32.0,8,0,...,0,0,0,0,0,0,0,0,0,0
52940,15400,0,718.0,10,36790.0,570.25,41.5,4.0,11,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40677,11966,1,725.0,10,109692.0,1023.80,21.1,32.0,12,0,...,0,0,0,0,0,0,0,0,0,0
14327,99999999,0,709.0,10,17400.0,236.36,21.0,32.0,10,1,...,0,0,0,0,0,0,0,0,0,0
87070,1013,0,727.0,1,50645.0,1017.12,25.4,9.0,10,0,...,0,0,0,0,0,0,0,0,0,0
61017,11989,0,731.0,10,69937.0,1398.74,18.5,23.0,13,0,...,0,0,0,0,0,0,0,0,0,0
72514,19854,1,737.0,10,59562.0,398.07,15.3,32.0,6,0,...,0,0,0,0,0,1,0,0,0,0

In [259]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=18)
X_res, y_res = sm.fit_resample(X_train, y_train)

In [260]:
y_res.value_counts()

1    47803
0    47803
Name: Loan Status, dtype: int64

### MODEL FITTING

In [261]:
# Importing necessary libraries
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier, AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score, f1_score, accuracy_score, classification_report

#### Decision tree classifier

In [262]:
dt = DecisionTreeClassifier()
dt.fit(X_res,y_res)
y_pred = dt.predict(X_valid)
print('Accuracy score: ',accuracy_score(y_valid,y_pred))
print('Area under ROC :',roc_auc_score(y_valid,y_pred))
print('F1-score: ',f1_score(y_valid,y_pred))
print(classification_report(y_valid,y_pred))

Accuracy score:  0.8676384577315877
Area under ROC : 0.8518197911211333
F1-score:  0.905856
              precision    recall  f1-score   support

           0       0.74      0.82      0.78      6293
           1       0.92      0.89      0.91     15934

    accuracy                           0.87     22227
   macro avg       0.83      0.85      0.84     22227
weighted avg       0.87      0.87      0.87     22227

#### Random Forest Classifier

In [263]:
rf = RandomForestClassifier()
rf.fit(X_res,y_res)
y_pred = rf.predict(X_valid)
print('Accuracy score: ',accuracy_score(y_valid,y_pred))
print('Area under ROC :',roc_auc_score(y_valid,y_pred))
print('F1-score: ',f1_score(y_valid,y_pred))
print(classification_report(y_valid,y_pred))

Accuracy score:  0.8873892113195663
Area under ROC : 0.8762677757572648
F1-score:  0.9198911825892143
              precision    recall  f1-score   support

           0       0.77      0.85      0.81      6293
           1       0.94      0.90      0.92     15934

    accuracy                           0.89     22227
   macro avg       0.86      0.88      0.87     22227
weighted avg       0.89      0.89      0.89     22227

#### Bagging Classifier

In [264]:
bc = BaggingClassifier()
bc.fit(X_res,y_res)
y_pred = bc.predict(X_valid)
print('Accuracy score: ',accuracy_score(y_valid,y_pred))
print('Area under ROC :',roc_auc_score(y_valid,y_pred))
print('F1-score: ',f1_score(y_valid,y_pred))
print(classification_report(y_valid,y_pred))

Accuracy score:  0.8799658073514195
Area under ROC : 0.8753206731461861
F1-score:  0.9136681335749417
              precision    recall  f1-score   support

           0       0.75      0.86      0.80      6293
           1       0.94      0.89      0.91     15934

    accuracy                           0.88     22227
   macro avg       0.85      0.88      0.86     22227
weighted avg       0.89      0.88      0.88     22227

#### AdaBoostClassifier

In [265]:
abc = AdaBoostClassifier()
abc.fit(X_res,y_res)
y_pred = abc.predict(X_valid)
print('Accuracy score: ',accuracy_score(y_valid,y_pred))
print('Area under ROC :',roc_auc_score(y_valid,y_pred))
print('F1-score: ',f1_score(y_valid,y_pred))
print(classification_report(y_valid,y_pred))

Accuracy score:  0.8779412426328339
Area under ROC : 0.8778025859131974
F1-score:  0.911620028015767
              precision    recall  f1-score   support

           0       0.74      0.88      0.80      6293
           1       0.95      0.88      0.91     15934

    accuracy                           0.88     22227
   macro avg       0.84      0.88      0.86     22227
weighted avg       0.89      0.88      0.88     22227

#### kNN Classifier

In [266]:
knn = KNeighborsClassifier()
knn.fit(X_res,y_res)
y_pred = knn.predict(X_valid)
print('Accuracy score: ',accuracy_score(y_valid,y_pred))
print('Area under ROC :',roc_auc_score(y_valid,y_pred))
print('F1-score: ',f1_score(y_valid,y_pred))
print(classification_report(y_valid,y_pred))

Accuracy score:  0.6990597021640347
Area under ROC : 0.6917917567601826
F1-score:  0.7714646896033345
              precision    recall  f1-score   support

           0       0.48      0.68      0.56      6293
           1       0.85      0.71      0.77     15934

    accuracy                           0.70     22227
   macro avg       0.66      0.69      0.67     22227
weighted avg       0.74      0.70      0.71     22227

#### Logisitc Regression

In [267]:
lor = LogisticRegression(solver='newton-cg', class_weight='balanced')
#lor = LogisticRegression()
lor.fit(X_res,y_res)
y_pred = lor.predict(X_valid)
print('Accuracy score: ',accuracy_score(y_valid,y_pred))
print('Area under ROC :',roc_auc_score(y_valid,y_pred))
print('F1-score: ',f1_score(y_valid,y_pred))
print(classification_report(y_valid,y_pred))

Accuracy score:  0.6645071309668421
Area under ROC : 0.6270218097929823
F1-score:  0.7530222236942339
              precision    recall  f1-score   support

           0       0.43      0.54      0.48      6293
           1       0.80      0.71      0.75     15934

    accuracy                           0.66     22227
   macro avg       0.61      0.63      0.62     22227
weighted avg       0.69      0.66      0.67     22227

### Comparing the average income between customers whose loan status has been charged off and those who have fully paid

#### We're hypothesising that the average income of people who have fully paid is greater than who've been charge off.

In [ ]:
# # Assume that the average income of customers who have fully paid back their loan as MU0 and the average income of customers who have been charged off as MU1

# print('Step 1 : Stating the hypothesis')
# print('The null hypothesis is H0: MU0-MU1<=0')
# print('The alternate hypothesis is H1: MU0-MU1>0 \n')

# print('Step 2 : Determining the decision criteria')